<section class="section container-fluid">
    <form>
        <div class="form-group">
                <textarea class="form-control input-lg" rows="10" id="noteContentTextArea"></textarea>
        </div>
        <div class="form-group">
            <a href="/" class="btn btn-default" type="reset">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</section>