<section class="section container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">Notiz Nr. {{note.noteId}}</div>
        <div class="panel-body">
            Note content
        </div>
    </div>
    <form>
        <div class="form-group">
            <a href="/" class="btn btn-default">Back</a>
            <a href="/edit" class="btn btn-primary">Edit</a>
        </div>
    </form>
</section>