<section class="section container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/create">
                <i class="fa fa-plus-square"></i> Neue Notiz...
            </a>
        </li>
        <li class="list-group-item" ng-repeat="note in listOfNotes">
            <a href="/view/{{note.noteId}}">{{note.noteTitle}}</a>
        </li>
    </ul>
</section>